{% extends "layouts/base.html" %}
{% block top %}
<!--
redirect_from: /calendar
-->
{% endblock %}
{% block title %}CS 285 Calendar{% endblock %}

{% block body %}
<main class="index-page">
    <section class="page-head wrap-container">
        <div class="wrap">
            <div class="head-decor">
                <p class="head-subtitle">CS 285 at UC Berkeley</p>
                <h1 class="head-title">Calendar</h1>
                <iframe src="https://calendar.google.com/calendar/embed?src=berkeley.edu_m6mh3ru67racvj7d1nns39e128%40group.calendar.google.com&ctz=America%2FLos_Angeles" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
            </div>
        </div>
    </section>
</main>
{% endblock %}
