{% extends "layouts/base.html" %} {% block top %}
{% endblock %} {% block title %}Extension Requests{% endblock %} {% block body %}
<main class="index-page">
    <section class="page-head wrap-container">
        <div class="wrap">
            <div class="head-decor">
                <p class="head-subtitle">CS 189/289A at UC Berkeley</p>
                <h1 class="head-title">Extension Requests</h1>
            </div>
        </div>
    </section>
    <section class="standard-text wrap-container">
        <div class="wrap">
            <p><b>Please keep in mind the following important policies regarding extensions:</b></p>
            <ul>
                <li>Extensions for <b>non-DSP students</b> are reserved for extreme circumstances, such as severe illness lasting 5+ days or the death of a close family member. For other issues, including shorter illnesses or technical problems, we will generally ask you to use your slip days instead. </li>
                <li>If you are offered an extension, even with your extension plus slip days combined, no single assignment can be extended more than 5 days. (After this point, we need to release solutions publicly and start grading.)</li>
                <li>Extension requests are handled by an EECS course manager who is not directly affiliated with 189. Because of this, we are not able to answer any questions related to pending or rejected requests. (However, if you are looking for academic/personal support related to your extenuating circumstance, or are concerned about your progress in the class, please contact someone on course staff and we'd be happy to help!)</li>
            </ul>
            <br>
            <p>If you have read the above points carefully and would still like to make an extension request, click the button below:</p>
            <a href="https://forms.gle/Xi3mSpEzSvcvLSdZ6" target="_blank" class="button">Extension Request Form</a>
        </div>
    </section>
</main>
{% endblock %}