{% extends "layouts/base.html" %} {% block top %}
<!--
redirect_from: /resources
-->
{% endblock %} {% block title %}CS 189 Resources{% endblock %} {% block body %}
<main class="index-page">
    <section class="page-head wrap-container">
        <div class="wrap">
            <div class="head-decor">
                <p class="head-subtitle">CS 189 at UC Berkeley</p>
                <h1 class="head-title">Resources</h1>
            </div>
        </div>
    </section>
    <section class="standard-text wrap-container">
        <div class="wrap">
            <p>Aside from lectures, the following resources are available to all students enrolled or waitlisted in the class:</p>
            <ul>
                <li><b>Piazza</b> for asking questions about course material, assignments, or logistical issues</li>
                <li><b>Discussion Sections</b> (<a href="/calendar/">schedule here</a>), which are weekly 1-hour sections led by TAs focused on problem solving. Discussions will consist of both lecture concepts and new material.</li>
                <li><b>Office Hours</b> (<a href="/calendar/">schedule here</a>) for getting help with conceptual or homework questions</li>
            </ul>
        </div>
    </section>
    <section class="standard-text wrap-container">
        <div class="wrap">
            <h2 class="standard-title" id="review">Review Materials</h2>
            <p>
                If you want to brush up on prerequisite material:
            </p>
            <ul>
                <li>Here's a
                    <a href="http://gwthomas.github.io/docs/math4ml.pdf">short summary of
                    math for machine learning</a> written by our former TA Garrett Thomas.
                </li>
                <li>Stanford's machine learning class provides additional reviews of
                    <a href="http://cs229.stanford.edu/section/cs229-linalg.pdf">linear algebra</a> and
                    <a href="http://cs229.stanford.edu/section/cs229-prob.pdf">probability
                    theory</a>.
                </li>
                <li>There's a fantastic collection of linear algebra visualizations on YouTube by
                    <a href="https://www.youtube.com/channel/UCYO_jab_esuFRV4b17AJtAw">3Blue1Brown</a> starting with
                    <a href="https://www.youtube.com/watch?v=fNk_zzaMoSs&amp;list=PLZHQObOWTQDPD3MizzM2xVFitgF8hE_ab">this
                    playlist, <i>The Essence of Linear Algebra</i></a>. I highly recommend them, even if you think you already understand linear algebra. It's not enough to know how to work with matrix algebra equations; it's equally
                    important to have a geometric intuition for what it all means.
                </li>
                <li>To learn matrix calculus (which will rear its head first in Homework 2), check out the first two chapters of
                    <a href="http://www.math.uwaterloo.ca/~hwolkowi/matrixcookbook.pdf">The
                    Matrix Cookbook</a>.
                </li>
                <li>Another locally written review of linear algebra appears in
                    <a href="http://livebooklabs.com/keeppies/c5a5868ce26b8125">this book</a> by Prof. Laurent El Ghaoui.
                </li>
                <li>An alternative guide to CS 189 material (if you're looking for a second set of lecture notes besides mine), written by our former TAs Soroush Nasiriany and Garrett Thomas, is available
                    <a href="https://snasiriany.me/files/ml-book.pdf">at this link</a>. I recommend reading my notes first, but reading the same material presented a different way can help you firm up your understanding.
                </li>
            </ul>
        </div>
    </section>
    <section class="standard-text wrap-container">
        <div class="wrap">
            <h2 class="standard-title" id="misc">Miscellaneous Links</h2>
            <ul>
                <li>Check out <a href="https://ml-visualizer.herokuapp.com/">this
                    Machine Learning Visualizer</a> by our former TA Sagnik Bhattacharya and his teammates Colin Zhou, Komila Khamidova, and Aaron Sun. It's a great way to build intuition for what decision boundaries different classification algorithms
                    find.
                </li>
            </ul>
        </div>
    </section>
</main>
{% endblock %}