{% extends "layouts/base.html" %}
{% block top %}
<!--
redirect_from: /resources
-->
{% endblock %}
{% block title %}CS 285 Resources{% endblock %}

{% block body %}
<main class="index-page">
    <section class="page-head wrap-container">
        <div class="wrap">
            <div class="head-decor">
                <p class="head-subtitle">CS 285 at UC Berkeley</p>
                <h1 class="head-title">Resources</h1>
            </div>
        </div>
    </section>
    <section class="standard-text wrap-container">
        <div class="wrap">
            <p>The primary resources for this course are the lecture slides and homework assignments on <a href="/deeprlcourse/">the front page</a>.</p>
        </div>
    </section>
    <section class="standard-text wrap-container">
        <div class="wrap">
            <h2 class="standard-title" id="courses">Previous Offerings</h2>
            <p>{{ syllabus.prevoffs.full }}</p>
        </div>
    </section>
    <section class="standard-text wrap-container">
        <div class="wrap">
            <h2 class="standard-title" id="courses">Courses</h2>
            <p>{{ syllabus.courses.short }}</p>
            <ul class="lists two-col">
                {% for course in courses %}
                <li><a href="{{ course.url }}">{{ course.title }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </section>
    <section class="standard-text wrap-container">
        <div class="wrap">
            <h2 class="standard-title" id="textbooks">Relevant Textbooks</h2>
            <p>{{ syllabus.textbooks.short }}</p>
            <ul class="lists two-col">
                {% for textbook in textbooks %}
                <li><a href="{{ textbook.url }}">{{ textbook.title }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </section>
    <section class="standard-text wrap-container">
        <div class="wrap">
            <h2 class="standard-title" id="misclinks">Misc Links</h2>
            <p>{{ syllabus.misclinks.short }}</p>
            <ul class="lists two-col">
                {% for misclink in misclinks %}
                <li><a href="{{ misclink.url }}">{{ misclink.title }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </section>
</main>
{% endblock %}
